body {
    font-size: 18pt;
}

h1, h3, #results {
    text-align: center;
    margin: 0 0 0 0;
}
h1 {
    padding-top: 10px;
    padding-bottom: 15px;
}
h3 {
    padding-bottom: 10px;
}
header {
    background-color: #D1B1CB;
}
.content {
    background-color: #EAFDF8;
    min-height: 100px;
}
.content ul {
    padding-top: 25px;
}